<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="pizzaController">
    <div class="container">
        <h1>Tony's Pizza</h1>
        <h2>{{model.title}}</h2>
        <h3>Topping Search</h3>
        <input type="="text" class="form-control" ng-model="model.search" />
        <div ng-show="model.search" ng-repeat="topping in model.availableToppings | filter: model.search">
            <span ng-click="addTopping(topping)">{{topping}}</span>
        </div>

        <div ng-show="(model.availableToppings | filter: model.search).length == 0 && model.search.length > 0" class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            No search results.
        </div>

        <div ng-show="model.success" class="alert alert-success alert-dismissable">
            Topping added <button ng-click="model.success = false">Close</button>

        </div>

        <div ng-hide="model.search">
            Enter the search criteria above.
        </div>
        
        
        <h3>Selected Toppings</h3>
        <div ng-repeat="selected in model.selectedToppings">
            <span>{{selected}}</span>
        </div>
        
    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/pizzaController.js"></script>
</body>

</html>