<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Promises, HTTP and Resources</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="labController">
    <div class="container">
        <h1>Promises, HTTP and Resources</h1>
        <input type="number" ng-model="model.number" name="number" class="form-control" />
        <input type="button" value="Check Odd or Even Number" ng-click="checkOddNumber(mode.number)" />
    </div>
    <div class="container">
        <pre>{{model.result}}</pre>
    </div>

    <div class="container">
        <input class="btn btn-primary" type="button" name="getRepos" value="getRepos" ng-click="getRepos()" ng-hide="model.repos" />
    </div>

    <div class="container">
        <div class="col-md-6">
            <table class="table table-striped" ng-show="model.repos">
                <tr>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Detail</th>
                </tr>
                <tr ng-repeat="repo in model.repos">
                    <td>
                        <h4>{{repo.name}}</h4>
                    </td>
                    <td>
                        <h4>{{repo.language}}</h4>
                    </td>
                    <td>
                        <input type="button" class="btn btn-success" ng-click="loadDetail(repo.name)" value="Detail" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-5" ng-show="model.detail">
            <h4>Detail</h4>
            <div class="alert alert-danger" ng-show="model.detail.error">
                {{model.detail.message}}
            </div>
            <div>
                <h4>Description</h4>
                <h2>{{model.detail.description}}</h2>
            </div>
            <div>
                <h4>URL</h4>
                <a ng-href="{{model.detail.html_url}}" target="_blank">{{model.detail.html_url}}</a>
            </div>
            <h4>Raw Data</h4>
            <pre>{{model.detail | json}}</pre>
        </div>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.min.js"></script>
    <script src="app/gitHubService.js"></script>
    <script src="app/app.js"></script>
    <script src="app/labController.js"></script>
</body>

</html>